name: Github Action FE

# when to trigger this action
on:
  push:
    branches: master

# what to do when triggered
jobs:
  # build and deploy the folder
  build-deploy:
    name: Build repo
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # steps to build and deploy 
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        path: flex
            
    # cache the node modules folder so that build can be faster
    #ADD
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
#         restore-keys: |
#           ${{ runner.os }}-node-
    # use node js to build
    #ADD
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x

    # install npm
    #ADD
    - name: npm install
      run: |
          echo "$PATH"
          npm install


    #ADD
    - name: Install puppeteer for test step
      run: npm i puppeteer

    - name: Lint
      run: |
          echo "$PATH"
          npm run lint
      with:
        path: flex

      #ADD
    - name: Test
      run: npm test -- --configuration=ci_test
      # with:
      #   path: flex

    - name: Build
      run: npm run build -- --prod
      # with:
      #   path: flex
    
    # install npm and build the app
    # - name: npm install and build
    #   run: |  --no-watch --no-progress --browsers=ChromeHeadlessCI
    #     npm install
    #     node --max_old_space_size=8000 ./node_modules/@angular/cli/bin/ng  build --prod --outputPath html5 --source-map=false --base-href /flex/html5/ --deploy-url /flex/html5/
